<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <!-- Latest compiled and minified JavaScript
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="row full-height">

        <!-- available channels -->
        <div class="col-xs-4 panel panel-default full-height">
          <div class="panel-header">
            <p>Possible channels</p>
          </div>

          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item" v-for="channel in channels">{{channel}}</li>
            </ul>
          </div>
        </div><!-- available channels -->

        <!-- chat -->
        <div class="col-xs-8 panel panel-default full-height">
          <div class="panel-header">
            <p>Selected channel: {{selectedCh}}</p>
          </div>

          <div class="panel-body">
            <ul>
              <message-item v-for="message in messages" v-bind:message="message">
              </message-item>
            </ul>
          </div>

          <div class="panel-footer chat-input row">
            <textarea class="chat-input-bar col-xs-11" rows="8" cols="80" v-model="message"></textarea>
            <input class="chat-input-buttom btn btn-default col-xs-1" type="button" value="Send" v-on:click="sendMessage">
          </div>
        </div><!-- chat-->

      </div><!-- row -->
    </div><!-- app -->

    <script src="main.js"></script>
  </body>
</html>
