html, body, #app {
  height: 100%;
  overflow:hidden;
}

.full-height {
  height: 100%;
  margin-bottom: 0px;
}

.chat-input {
  position: absolute;
  bottom: 0;

  width: 100%;

  padding: 0;
  border: 0;
}

.chat-input-buttom {
  height: 50px;
  background-color: lawngreen;

}

.chat-input-bar {
  margin: 0;
  padding: 0;
  height: 50px;
  resize: none;
}


.scrollable {
  height: calc(100% - 90px);
  overflow-y: scroll;
}
